<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <!--
    <variable name="LogFileName" value="ContentGatheringLog_Service"/>
    <variable name="LogFileExtension" value="log"/>
    <variable name="LogsLocation" value="${basedir}" />
       -->

  <targets async="true">


    <target name="database"   type="Database">
      <connectionString>
        Server=SQL11\SQL2008R2;Database=Miscellaneous;User Id=LogUser;Password=Resu2013;
      </connectionString>
      <commandText>
        insert into log.system_logging(log_date,log_level,log_logger,log_message,log_application,log_machine_name, log_user_name, log_call_site, log_thread, log_exception, log_stacktrace) values(@time_stamp, @level, @logger, @message,@log_application,@machinename, @user_name, @call_site, @threadid, @log_exception, @stacktrace);
      </commandText>
      <parameter name="@time_stamp" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@machinename" layout="${machinename}"/>
      <parameter name="@user_name" layout="${windows-identity:domain=true}"/>
      <parameter name="@call_site" layout="${callsite:filename=true}"/>
      <parameter name="@log_application" layout="PoloneixBot"/>
      <parameter name="@threadid" layout="${threadid}"/>
      <parameter name="@log_exception" layout="${exception}"/>
      <parameter name="@stacktrace" layout="${exception:format=StackTrace}"/>
    </target>

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" appendTo="database"/>
  </rules>

</nlog>